@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button @onclick="() => modal.Open()">Modal</button>

<Modal @ref="modal">
    <Title>
        Edit
    </Title>
    <Body>
        <div>
            <label>Name:</label>
            <input class="form-control" type="text" @bind="nameInput" @bind:event="oninput" />
        </div>
        <div>
            <label>Region:</label>
            <input class="form-control" type="text" @bind="regionInput" @bind:event="oninput"/>
        </div>
    </Body>
    <Footer>
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => CloseModal()">Close</button>
    </Footer>
</Modal>

@code {
    private int currentCount = 0;
    private Modal modal;
    private string nameInput = "";
    private string regionInput = "";


    private void IncrementCount()
    {
        currentCount++;
    }

    private void ResetInputControls()
    {
        nameInput = "";
        regionInput = "";
    }

    private void CloseModal()
    {
        ResetInputControls();
        modal.Close();
    }
}
